@import "../../node_modules/atena-core/dist/atena-core.css";

body {
    font-family: 'Poppins', Arial;
    background-color: #FFFFFF;
}

.modal-produtos {
    --height: 635px;
    --width: 800px;
}

.modal-pedidos ion-toolbar {
    --height: 80px;
}

.ion-input-edit-produto {
    --background: #ecebeb;
    --border-radius: 16px;
    --padding-start: 16px;
    margin-left: 16px;
    width: 200px;
}