.campo-cadastro {
    margin-bottom: 8px;
}

.aviso {
    margin-top: 8px;
}

.botao-acesso {
    margin-top: 14px;
}

 .input {
    width: 100%;
    --background: #E4E4E4;
    --border-radius: 16px;
    --padding-start: 16px;
    --placeholder-font-weight: 400;
} 