.campo-cadastro {
    margin-bottom: 8px;
}

.aviso {
    margin-top: 8px;
}

ion-button.ion-button {
    --background: #AC6200;
    --border-radius: 16px;
    height: 40px;
    margin-top: 14px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ion-input-login {
    width: 100%;
    --background: #E4E4E4;
    --border-radius: 16px;
    --padding-start: 16px;
    --placeholder-font-weight: 300;
} 

.campo-item {
    width: 100%;
    --background: #E4E4E4;
    --border-radius: 16px;
}
